.marquee {
  height: 30px;
  width: fit-content;

  overflow: hidden;
  position: relative;
}

.marquee div {
  display: block;
  width: max-content;
  height: 30px;

  position: absolute;
  overflow: hidden;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  10% {
    transform: translateX(0%);
  }
  98% {
    transform: translateX(-50%);
  }
  99.9999% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
