@import url("/css/checkbox.css");
@import url("/css/file_browser/divider.css");
@import url("/css/file_browser/files.css");
@import url("/css/file_browser/mediaPlayer.css");
@import url("/css/file_browser/sidebarDots.css");
@import url("/css/file_browser/toolbtn.css");
@import url("/css/file_browser/toolsTooltip.css");
@import url("/css/file_browser/marquee.css");
@import url("/css/file_browser/rightclickmenu.css");

body {
  margin: 0px;
  padding: 0px;
}

.icon {
  color: #0062f3;
  display: inline-block;
  user-select: none;
}
