#sidebar {
  width: 18vw;
  height: 100vh;
  min-width: 12vw;
  max-width: 50vw;
  display: table-cell;
  background: #dfdfe0;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
}

#divider {
  width: 3px;
  height: 100vh;
  display: table-cell;
  background: #cccccc;
  cursor: col-resize;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 18vw;
}

#files {
  width: calc(100vw - 18vw - 3px);
  height: calc(100vh - 3rem);
  max-width: calc(100vw - 12vw - 3px);
  min-width: calc(100vw - 50vw - 3px);
  display: table-cell;
  background: #ffffff;
  position: fixed;
  top: 3rem;
  padding-top: 5px;
  bottom: 0px;
  right: 0px;
}

body {
  margin: 0px;
  padding: 0px;
}

.icon {
  color: #0062f3;
  display: inline-block;
}

#sidebar > div > *,
#files > div > * {
  font-size: 1.5rem;
  vertical-align: middle;
}

#files > div > * {
  font-size: 1.2rem;
}

#sidebar > div > div,
#files > div > div {
  display: inline-block;
  font-family: RobotoThin;
}

#sidebar > div {
  width: calc(100% - 20px);
  min-width: 12vw;
  max-width: calc(50vw - 20px);
}

#sidebar > div,
#files > div {
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
}

#files > div {
  width: calc(100% - 20px);
  min-width: calc(100vw - 50vw - 3px - 20px);
  max-width: calc(100vw - 12vw - 3px - 20px);
}

#sidebar > #dots {
  padding-left: 12px;
  padding-top: calc((3rem - 14px) / 2);
  margin: 0px;
  margin-bottom: calc((3rem - 14px) / 2);
}

#sidebar > #dots > * {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background: black;
  display: inline-block;
  margin-left: 6px;
  cursor: pointer;
}

#sidebar > #dots > * > * {
  font-size: 12px;
  display: block;
  margin-left: 1px;
  margin-top: 1px;
}

#sidebar > #dots > span:nth-child(1) {
  background: #ec6a60;
}

#sidebar > #dots > span:nth-child(2) {
  background: #f5c250;
}

#sidebar > #dots > span:nth-child(3) {
  background: #59bc42;
}

.driveSelected {
  background: #c8c8c8;
}

#tools {
  position: fixed;
  left: calc(18vw + 3px);
  top: 0px;
  height: 3rem;
  right: 0px;
  background: #ededed;
  border-bottom: 1px solid #cbcbcb;
}

#back,
#go {
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  font-size: 1.6rem;
  margin-top: 0.4rem;
  margin-bottom: 0.5rem;
}

.toolbtn > span {
  vertical-align: middle;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.enable {
  color: #797979;
}

.disable {
  color: #b2b2b2;
}

#back {
  margin-left: 1rem;
}

.toolbtn {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-radius: 5px;
}

.toolbtn:hover {
  background: #e5e5e5;
}

.toolbtn.enable {
  cursor: pointer;
}

.toolbtn.disable {
  cursor: not-allowed;
}
