header {
  text-align: center;
}

.onright {
  text-align: end;
  right: 0px;
  position: absolute;
}

.wfit {
  width: fit-content;
}

.acenter {
  position: relative;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}

.drel {
  position: relative;
}

.nobmargin {
  margin-bottom: 0px;
}

.notmargin {
  margin-top: 0px;
}

.dinline {
  display: table-cell;
}

.servername {
  font-size: 3rem;
}

.wmin {
  width: 100%;
}

.signinarticle {
  border: #999 1px solid;
  width: min-content;
  padding: 4rem;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.sintext {
  position: absolute;
  left: 50%;
  font-size: 1.5rem;
  transform: translate(-50%, calc(-1.5rem - 10px * 2 - 2rem));
  background-color: white;
  padding: 10px;
}

#passwordInput,
.signinarticle,
#signinbtn {
  transition: all 0.3s ease;
}

.signINerror {
  transform: translateY(5px);
  transition: 0.3s all ease;
  opacity: 0;
}

@media only screen and (max-width: 325px) {
  .wmin {
    width: 98vw;
  }

  .signinarticle {
    padding-left: 0px;
    padding-right: 0px;
  }
}
